body {
    background-color: #d1d7e0;
}

.container {
    max-height: 80vh;
    max-width: 80vh;
    height: 60vw;
    width: 60vw;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 15px;
}

.container > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

#grid-holder > div {
    border-bottom: 1px solid rgba(139, 139, 139, 0.507);
    border-left: 1px solid rgba(139, 139, 139, 0.507);
    display: flex;
    flex: 1 1 0;
}

.row-1 {
    border-top: 1px solid rgba(139, 139, 139, 0.507);
}

#grid-holder > div > div {
    border-right: 1px solid rgba(139, 139, 139, 0.507);
    flex: 1 1 0;
}

#not-border div div {
    border-style: hidden;
}

.options {
    min-width: 40px;
}

.options-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.options-button {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
}

.options-toggles {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.main-content {
    display: flex;
    justify-content: center;
}

.sliderValue {
    width: 50px;
    border-radius: 100px;
    font-weight: 800;
    font-size: larger;
    background-color: #102542;
    color: #F87060;
    font-family: "Roboto Regular";
    border: 2px solid #102542;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 15px;
}

.slider {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#sliderInput {
    flex-basis: 80%;
    opacity: 0.9;
    transition: opacity .2s;
    width: 400px;
    height: 15px;
    appearance: none;
    background: #102542;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    align-self: center;
}

#sliderInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid #ffffff;
    box-shadow: -407px 0 0 400px #F87060;
    }

#sliderInput:hover {
    opacity: 1;
  }

button {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    font-weight: 800;
    font-size: larger;
    background-color: #102542;
    color: #F87060;
    font-family: "Roboto Regular";
    border: 2px solid #102542;
    transition-property: background-color, color, border-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 15px;
}

.color-picker {
    position: absolute;
    opacity: 0;
    transform: scale(2.1);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 15px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#selected {
    background-color: #F87060;
    color: #102542;
    border: 2px solid #F87060;
}